altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
fonttools
fqdn
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
streamlit
tenacity
terminado
tinycss2
toml
toolz
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
websocket-client
zipp
